


.previewButtonContainer{

    

    width:  237px;
    border: none;

    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    text-decoration: none;
    // margin-bottom: 30px;
}


.loco svg path {

    fill: white

}

.loco svg {
   // height: px;
}

.platformSpan {

    align-self: center;
}